.git
.github
.claude
.idea
.vscode
.nova
.fleet
.phpactor.json
.phpunit.cache
.phpunit.result.cache

node_modules
vendor
public/build
public/hot
public/storage

storage/*.key
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail

bootstrap/cache/*.php
bootstrap/ssr

.env
.env.*
!.env.example

*.log
*.md
!README.md

Dockerfile
.dockerignore
docker-compose*.yml

tests
phpunit.xml
phpstan.neon
pint.json

_ide_helper*.php
.php-cs-fixer.cache

CLAUDE.md
